.vs/PBH_API/FileContentIndex/19e7daf0-507d-4b91-88ce-d550aed89603.vsidx
.vs/PBH_API/FileContentIndex/4618c46b-51b8-4ff5-9e36-53bbbc18a6f2.vsidx
.vs/PBH_API/FileContentIndex/50b16e8c-298c-44e1-aabb-637c1a7a3cd2.vsidx
.vs/PBH_API/FileContentIndex/read.lock
